upload-to-yt.json
{
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "mode": "list",
            "value": "18m0i341QLQuyWuHv_FBdz8-r-QDtofYm",
            "cachedResultUrl": "https://drive.google.com/drive/folders/18m0i341QLQuyWuHv_FBdz8-r-QDtofYm",
            "cachedResultName": "Influencersde"
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "d9766bb0-76f9-435e-b5a7-04ab799169c4",
        "name": "Google Drive Trigger",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          480,
          100
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "",
            "value": "={{ $json.id || $json.data[0].id }}"
          },
          "options": {}
        },
        "id": "77348a22-e075-4e14-a56a-634d820875f3",
        "name": "Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          660,
          100
        ],
        "retryOnFail": true,
        "typeVersion": 1,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {},
        "id": "ee21c8a5-fa3b-4c2f-9f58-9f655c442f67",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "position": [
          880,
          440
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "text": "=🔔 ERROR SUBIENDO VIDEOS",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "fc65b7fb-915f-486d-b470-8edb93819da2",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1220,
          420
        ],
        "webhookId": "f6729386-9905-45f1-800f-4fe01a06ac9c",
        "retryOnFail": true,
        "typeVersion": 1.2,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "9fadb3fd-2547-42bd-8f40-f410a97dcf57",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                },
                "leftValue": "={{ $json.trigger.error.message }}",
                "rightValue": "The DNS server returned an error, perhaps the server is offline"
              }
            ]
          },
          "options": {}
        },
        "id": "a0b50dd8-248b-4001-b8bb-6ecf2fd63df2",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "position": [
          1020,
          440
        ],
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "content": "## Description\nThis automation allows you to upload a video to a configured Google Drive folder, and it will automatically create descriptions and upload it to Instagram and TikTok.\n\n## How to Use\n1. Generate an API token at upload-post.com and add to Upload to Tiktok and Upload to Instagram nodes\n2. Configure your Google Drive folder\n3. Customize the OpenAI prompt for your specific use case\n4. Optional: Configure Telegram for error notifications\n\n## Requirements\n- upload-post.com account\n- Google Drive account\n- OpenAI API key\n",
          "height": 260,
          "width": 860
        },
        "id": "e98b09d0-c2db-4fa1-82bc-739fc6acd171",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -180,
          -500
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "id": "4b139272-3774-44cb-acd0-ccd254c77078",
        "name": "Get Audio from Video",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          1120,
          100
        ],
        "notesInFlow": true,
        "retryOnFail": true,
        "typeVersion": 1,
        "waitBetweenTries": 5000,
        "notes": "Extract the audio from video for generate the description"
      },
      {
        "parameters": {
          "fileName": "={{ $json.originalFilename.replaceAll(\" \", \"_\") }}",
          "options": {}
        },
        "id": "0794010d-a0cd-4684-a74d-46f7e90cdc45",
        "name": "Read video from Google Drive",
        "type": "n8n-nodes-base.writeBinaryFile",
        "position": [
          840,
          100
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "GPT-4O"
          },
          "messages": {
            "values": [
              {
                "content": "You are an expert assistant in creating engaging social media video titles.",
                "role": "system"
              },
              {
                "content": "=I'm going to upload a video to social media. Here are some examples of descriptions that have worked well on Instagram:\n\nFollow and save for later. Discover InfluencersDe, the AI tool that automates TikTok creation and publishing to drive traffic to your website. Perfect for entrepreneurs and brands.\n#digitalmarketing #ugc #tiktok #ai #influencersde #contentcreation\n\nDiscover the video marketing revolution with InfluencersDe!\n.\n.\n.\n#socialmedia #videomarketing #ai #tiktok #influencersde #growthhacking\n\nDon't miss InfluencersDe, the tool that transforms your marketing strategy with just one click!\n.\n.\n.\n#ugc #ai #tiktok #digitalmarketing #influencersde #branding\n\nCan you create another title for the Instagram post based on this recognized audio from the video?\n\nAudio: {{ $('Get Audio from Video').item.json.text }}\n\nIMPORTANT: Reply only with the description, don't add anything else."
              }
            ]
          },
          "options": {}
        },
        "id": "65597a87-c4d1-4b22-9977-45d855b1e9f6",
        "name": "Generate Description for Videos  in Tiktok and Instagram",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          1320,
          100
        ],
        "notesInFlow": true,
        "retryOnFail": true,
        "typeVersion": 1.4,
        "waitBetweenTries": 5000,
        "notes": "Request to OpenAi for generate description with the audio extracted from the video"
      },
      {
        "parameters": {
          "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}",
          "dataPropertyName": "datavideo"
        },
        "id": "da3c5663-2789-41be-a4b4-ca99ab7c1dd4",
        "name": "Read Video from Google Drive",
        "type": "n8n-nodes-base.readBinaryFile",
        "position": [
          1880,
          -120
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}",
          "dataPropertyName": "datavideo"
        },
        "id": "a533c6a4-215c-4be6-bb7c-9bf66c86f55b",
        "name": "Read Video from Google Drive2",
        "type": "n8n-nodes-base.readBinaryFile",
        "position": [
          1880,
          180
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.upload-post.com/api/upload",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"
              },
              {
                "name": "platform[]",
                "value": "tiktok"
              },
              {
                "parameterType": "formBinaryData",
                "name": "video",
                "inputDataFieldName": "datavideo"
              },
              {
                "name": "user",
                "value": "Add user generated in upload-post"
              }
            ]
          },
          "options": {}
        },
        "id": "759a4542-2fef-4e79-9970-4655a223e677",
        "name": "Upload Video and Description to Tiktok",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2140,
          -120
        ],
        "notesInFlow": true,
        "typeVersion": 4.2,
        "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.upload-post.com/api/upload",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"
              },
              {
                "name": "platform[]",
                "value": "instagram"
              },
              {
                "parameterType": "formBinaryData",
                "name": "video",
                "inputDataFieldName": "datavideo"
              },
              {
                "name": "user",
                "value": "Add user generated in upload-post"
              }
            ]
          },
          "options": {}
        },
        "id": "a11d8724-8f6a-4d51-a556-8a18f087285e",
        "name": "Upload Video and Description to Instagram",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2140,
          180
        ],
        "notesInFlow": true,
        "typeVersion": 4.2,
        "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
      },
      {
        "parameters": {
          "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}",
          "dataPropertyName": "datavideo"
        },
        "id": "cfd8976f-3614-4af1-b18d-25dedf5f6f3e",
        "name": "Read Video from Google Drive3",
        "type": "n8n-nodes-base.readBinaryFile",
        "position": [
          1880,
          440
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.upload-post.com/api/upload",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\").substring(0, 70) }}\n"
              },
              {
                "name": "platform[]",
                "value": "youtube"
              },
              {
                "parameterType": "formBinaryData",
                "name": "video",
                "inputDataFieldName": "datavideo"
              },
              {
                "name": "user",
                "value": "test2"
              }
            ]
          },
          "options": {}
        },
        "id": "60e71a53-167f-4ba7-b7f9-1edf8734ec6b",
        "name": "Upload Video and Description to Youtube",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2140,
          440
        ],
        "notesInFlow": true,
        "typeVersion": 4.2,
        "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Read video from Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Audio from Video": {
        "main": [
          [
            {
              "node": "Generate Description for Videos  in Tiktok and Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read video from Google Drive": {
        "main": [
          [
            {
              "node": "Get Audio from Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Description for Videos  in Tiktok and Instagram": {
        "main": [
          [
            {
              "node": "Read Video from Google Drive",
              "type": "main",
              "index": 0
            },
            {
              "node": "Read Video from Google Drive2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Read Video from Google Drive3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Video from Google Drive": {
        "main": [
          [
            {
              "node": "Upload Video and Description to Tiktok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Video from Google Drive2": {
        "main": [
          [
            {
              "node": "Upload Video and Description to Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Video from Google Drive3": {
        "main": [
          [
            {
              "node": "Upload Video and Description to Youtube",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "a4984753ab0734571a90865892b241f7e4fe4a718cd567093525c07af17be3ae"
    }
  }